@use "./animations/*.scss" as animations;
@use "./util/*.scss" as util;
@use "./elements/*.scss" as elements;
@use "./overwrites/*.scss" as overwrites;

@import url('//fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&family=Poppins:wght@100;400;600;900&family=Roboto+Slab:wght@100;400;600;900&display=swap');

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

#drupal-live-announce {
  display: none;
}

