@use "sass:map";

$xsmall: xsmall;
$small: small;
$medium: medium;
$large: large;
$xlarge: xlarge;
$xxlarge: xxlarge;

$points: (
  #{$xsmall}: 25em,   // = 400
  #{$small}: 36em,    // = 576
  #{$medium}: 48em,   // = 768
  #{$large}: 62em,    // = 992
  #{$xlarge}: 75em,   // =1200
  #{$xxlarge}: 90em,  // =1440
);

@function get($breakpoint) {
  @return map.get($points, $breakpoint);
}

@mixin from($breakpoint) {
  @media (min-width: get($breakpoint)) {
    @content;
  }
}

@mixin below($breakpoint) {
  @media (max-width: get($breakpoint) - .0625em) {
    @content;
  }
}
