$red: #e2001a;
$green: #009036;
$blue: #005ea8;
$orange: #f29400;
$yellow: #fd0;
$purple: #93117e;

$white: #fff;
$black: #000;

$gray--50: #fefefe;
$gray--100: #f3f3f3;
$gray--200: #ebebeb;
$gray--300: #e0e0e0;
$gray--350: #ccc;
$gray--400: #d3d3d3;
$gray--500: #a5a5a5;
$gray--600: #828282;
$gray--700: #616161;
$gray--900: #4a4a4a;

$text: #000;
$text-inverted: #fff;
$header: #00a551;
$header-select: #fd0;
$link: #0066b2;
$link-dark: darken($link, 10%);
$warning: #ec1c24;
$menu: $header;
$cta-dark: #009746;
$cta: darken($header, 6%);
$button: $link;
$breadcrumb: #696966;
$two-fold: #cceddc;
