@use "sass:map";
@use "../util/breakpoint";

$_main-font: inter, sans-serif;
$_alt-font: poppins, sans-serif;
$_header-font: "Urban jungle", $_alt-font;
$_header_smal-font: "Roboto slab", $_main-font;

// Helps autocomplete
$navigation: font-nav;
$intro: intro;
$link: link;
$blockquote: blockquote;
$header-1: h1;
$header-2: h2;
$header-3: h3;
$header-4: h4;
$header-5: h5;
$header-6: h6;

$_mapping: (
  base: (
    font-family: $_main-font,
    font-size: 1.125rem,
    font-weight: normal,
    letter-spacing: .025rem,
    line-height: 1.5,
    //
    #{breakpoint.$medium}: (
      letter-spacing: .01rem,
      line-height: 1.75,
    ),
  ),
  #{$header-1}: (
    font-family: $_header-font,
    font-size: 1.75rem,
    font-weight: normal,
    letter-spacing: .25rem,
    line-height: 1.125,
    //
    #{breakpoint.$medium}: (
      font-size: 2.25rem,
      letter-spacing: .333rem,
      line-height: 1.1,
    ),
    #{breakpoint.$large}: (
      font-size: 2.333rem,
    ),
    #{breakpoint.$xlarge}: (
      font-size: 2.5rem,
      letter-spacing: .5rem,
      line-height: 1,
    ),
  ),
  #{$header-2}: (
    font-family: $_header_smal-font,
    font-size: 1.625rem,
    font-weight: 900,
    letter-spacing: .125rem,
    line-height: 1.125,
    //
    #{breakpoint.$large}: (
      font-size: 2.333rem,
    ),
    #{breakpoint.$xlarge}: (
      font-size: 2.5rem,
    ),
    #{breakpoint.$xxlarge}: (
      font-size: 2.8125rem,
    ),
  ),
  #{$header-3}: (
    font-family: $_header_smal-font,
    font-size: 1.3125rem,
    font-weight: 900,
    letter-spacing: .125rem,
    line-height: 1.125,
    //
    #{breakpoint.$large}: (
      font-size: 1.5625rem,
    ),
  ),
  #{$header-4}: (
    font-family: $_header_smal-font,
    font-size: 1.125rem,
    font-weight: 900,
    letter-spacing: .125rem,
    line-height: 1.125,
    //
    #{breakpoint.$large}: (
      font-size: 1.375rem,
    ),
  ),
  #{$header-5}: (
    font-family: $_header_smal-font,
    font-size: 1rem,
    font-weight: 900,
    letter-spacing: .125rem,
    line-height: 1.125,
    //
    #{breakpoint.$large}: (
      font-size: 1.125rem,
    ),
  ),
  #{$header-6}: (
    font-family: $_header_smal-font,
    font-size: 1rem,
    font-weight: 900,
    letter-spacing: .05rem,
    line-height: 1.125,
  ),
  #{$navigation}: (
    font-family: $_alt-font,
    font-size: 1rem,
    font-weight: normal,
    line-height: 1,
    //
    #{breakpoint.$large}: (
      font-size: 1rem,
      letter-spacing: .125rem,
      line-height: 1,
    ),
  ),
  #{$intro}: (
    font-family: $_main-font,
    font-size: 1rem,
    font-weight: normal,
    letter-spacing: .2rem,
    line-height: 1.5,
  ),
  #{$link}: (
    font-family: $_main-font,
    font-size: 1rem,
    font-weight: 600,
    letter-spacing: .075rem,
    line-height: 1.125,
  ),
  #{$blockquote}: (
    font-family: $_alt-font,
    font-size: 1.1rem,
    letter-spacing: .175rem,
    line-height: 1.5,
  ),
);

@mixin use($font: base) {
  $font-map: if(map.has-key($_mapping, $font), map.get($_mapping, $font), map.get($_mapping, base));

  @each $point, $value in breakpoint.$points {
    @if map.has-key($font-map, $point) {
      @include breakpoint.from($point) {
        @each $key, $value in map.get($font-map, $point) {
          #{$key}: $value;
        }
      }
      $font-map: map.remove($font-map, $point);
    }
  }

  @each $key, $value in $font-map {
    #{$key}: $value;
  }
}

@font-face {
  $font: '/themes/frontend/fonts/UrbanJungle.';

  font-family: "Urban jungle";
  src: url(#{$font} + 'woff2');
  src: local('UrbanJungle'), url(#{$font} + 'woff2') format('woff2'), url(#{$font} + 'otf') format("opentype"), url(#{$font} + 'ttf') format("truetype");
}
