@use "sass:color";

@function _stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i $j 0 $color, comma);
    }
  }

  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: _stroke($stroke, $color);

  &::selection,
  & *::selection {
    text-shadow: _stroke($stroke * 2, color.invert($color));
  }
}

@mixin select($color, $selecte-color: color.invert($color), $background-color: color.adjust($color: color.invert($selecte-color), $alpha: -.25)) {
  color: $color;

  &::selection,
  & *::selection {
    background-color: $background-color;
    color: $selecte-color;
  }
}
