// Admin toolbar no longer fixed on frontend. conflicted with sticky
body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  position: absolute !important;
}

img:not([class]) {
  height: auto;
  max-width: 100%;
}
