@keyframes bump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-.25em);
  }

  100% {
    transform: translateY(0);
  }
}

@mixin animation($seconds: 1s, $delay: 0s, $timing: cubic-bezier(.65, .05, .36, 1), $iterations: 1, $direction: normal) {
  display: inline-block;

  @at-root {
    @media (not (prefers-reduced-motion: reduce)) { /* stylelint-disable-line media-feature-name-no-unknown */
      & {
        animation: bump $seconds $timing $delay $iterations $direction;
      }
    }
  }
}
