@keyframes image-slide {
  0% {
    mask-position: -500rem 0;
    -webkit-mask-position-x: -500rem; /* stylelint-disable-line property-no-vendor-prefix */
  }

  50% {
    mask-position: 0 0;
    -webkit-mask-position-x: 0; /* stylelint-disable-line property-no-vendor-prefix */
  }

  100% {
    mask-position: 500rem 0;
    -webkit-mask-position-x: 500rem; /* stylelint-disable-line property-no-vendor-prefix */
  }
}

@mixin animation($seconds: 1000s, $delay: 0s, $timing: linear, $iterations: infinite, $direction: normal) {
  mask-position: center top;
  -webkit-mask-position-x: center; /* stylelint-disable-line property-no-vendor-prefix */

  @at-root {
    @media (not (prefers-reduced-motion: reduce)) { /* stylelint-disable-line media-feature-name-no-unknown */
      & {
        animation: image-slide $seconds $timing $delay $iterations $direction;
      }
    }
  }
}
