{% set bem_block = 'block-' ~ id|split('__', 2)|first|clean_class %}
{% set bem_modifiers = id|split('__')|slice(1) %}
{%
  set classes = [
    region ? 'region-' ~ region|clean_class ~ '__' ~ id|split('__', 2)|first|clean_class,
    bem_block
  ]
%}
{% for modifier in bem_modifiers %}
  {% set classes = classes|merge([bem_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass(bem_block ~ '__title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
