{% set view = element['#object'].view__view %}
{%
  set bem = 'paragraph-' ~ (bundle ~ '-' ~ view.view_name ~ '-' ~ view.view_display ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class ~ '__' ~ field_name|replace({(bundle ~ '__'): ''})|clean_class
%}
{%
  set classes = classes ?: [
    bem
  ]
%}
<h2{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</h2>
