{% extends "field.html.twig" %}

{% block items %}
  <div{{ content_attributes.addClass(bem_element_prefix ~ 'range') }}>
    {% trans %}Age from {% endtrans %}
    <div{{ items.0.attributes.addClass(bem_element_prefix ~ 'from') }}>
      {{- items.0.content -}}
    </div>
    <div class="{{ bem_element_prefix ~ 'separator' }}">
      {%- trans %}till{% endtrans -%}
    </div>
    <div{{ items.1.attributes.addClass(bem_element_prefix ~ 'till') }}>
      {{- items.1.content -}}
    </div>
  </div>
{% endblock %}
