{% set view = element['#object'].view__view %}
{%
  embed "field.html.twig" with {
    'bem': 'paragraph-' ~ (bundle ~ '-' ~ view.view_name ~ '-' ~ view.view_display ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class ~ '__' ~ field_name|replace({(bundle ~ '__'): ''})|clean_class
  }
%}
  {% block item %}
    {{ item.content|merge_attributes(item.attributes.addClass(bem_element_prefix ~ 'item')) }}
  {% endblock %}
{% endembed %}
