{% if not bem %}
  {% if view_mode == '_custom' %}
    {% set bem = 'field-' ~ field_name|replace({'__': '-'})|clean_class %}
    {% set bem_element_prefix = bem ~ '__' %}
  {% else %}
    {% set bem = (entity_type ~ '-' ~ bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class ~ '__' ~ field_name|replace({(bundle ~ '__'): ''})|clean_class %}
  {% endif %}
{% endif %}
{% set bem_element_prefix = bem_element_prefix ?: bem ~ '-' %}
{%
  set classes = classes ?: [
    bem
  ]
%}
<h2{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</h2>
