{%
  set bem_block = bem_block ?: ('node-' ~ node.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class
%}
{%
  set classes = [
    bem_block,
    node.isPromoted() ? bem_block ~ '--promoted',
    node.isSticky() ? bem_block ~ '--sticky',
    not node.isPublished() ? bem_block ~ '--unpublished',
  ]
%}
<div{{ attributes.removeAttribute('role').addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
