{% extends "node.html.twig" %}

{% block content %}

  {{ content.image }}

  <div{{ content_attributes.addClass(bem_block ~ '__content') }}>

    {{ title_prefix }}
    <h2{{ title_attributes.addClass(bem_block ~ '__title') }}>
      <a class="{{ bem_block }}__title-link" href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    {% if display_submitted %}
      <footer class="{{ bem_block }}__meta">
        <div{{ author_attributes.addClass(bem_block ~ '__submitted') }}>
          {{ date }}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}

    {{ content|without('image', 'links') }}

    {% if content.links %}
      <div class="{{ bem_block }}__links">
        {{ content.links }}
      </div>
    {% endif %}
  </div>

{% endblock %}
