{% extends "region.html.twig" %}

{% block content %}
  <div class="{{ bem_block }}__navbar-close block-navbar-close">
    <a class="block-navbar-close__link" href="#">
      <span class="block-navbar-close__link-label">{% trans %}Close menu{% endtrans %}</span>
    </a>
  </div>

  {{ content }}
{% endblock %}
