@import "../../../../../node_modules/select2/src/scss/core";

.select2-container {
  max-width: 100%;
}

.select2-container--default {
  .select2-selection--multiple {
    position: relative;
  }

  .select2-selection--multiple::before {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    content: " ";
    display: block;
    height: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 0;
  }

  &.select2-container--open {
    .select2-selection--multiple::before {
      border-bottom-color: #333;
      border-top-color: transparent;
      border-width: 0 4px 5px;
    }
  }
}

.select2-dropdown {
  z-index: 1500;
}
