@use '../abstracts/hidden';
@use '../abstracts/layout';
@use '../abstracts/link';
@use '../util/breakpoint';
@use '../util/color';
@use '../util/font';

.block-footernavigation {
  @include layout.outer-grid();

  width: unset;

  @include breakpoint.from(breakpoint.$small) {
    width: 100%;
  }
}

.block-footernavigation__menu {
  @include hidden.ul();
  @include layout.inner-grid();

  align-items: self-start;
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr;

  @include breakpoint.from(breakpoint.$small) {
    grid-template-columns: 1fr 1fr;
  }
}

.block-footernavigation__submenu {
  @include hidden.ul();
}

.block-footernavigation__menu-item,
.block-footernavigation__submenu-item {
  &:first-child {
    & > a {
      &::before {
        content: "- ";
      }
    }

    & > span {
      @include font.use(font.$header-4);

      color: white;
    }
  }

  & > a {
    @include link.a();

    color: color.$white;

    &::before {
      content: '> ';
    }
  }

  & > span {
    @include font.use(font.$link);

    color: color.$white;
    font-weight: normal;
  }
}

.block-footernavigation__submenu-item--empty {
  & > span {
    display: inline-block;
    height: 1rem;
  }
}

.block-footernavigation__submenu-item--bar {
  & > span {
    display: inline-block;
    height: 1rem;

    &::before {
      background-color: white;
      content: '';
      display: inline-block;
      height: .125rem;
      width: 5rem;
    }
  }
}

.block-footernavigation__submenu-item--separator {
  & > hr {
    background-color: white;
    border: 0;
    content: '';
    display: inline-block;
    height: .125rem;
    width: 100%;
  }
}

.block-footernavigation__menu-item--expanded {
  & > span {
    display: none;
  }
}

.block-footernavigation__menu-item-link,
.block-footernavigation__submenu-item-link {
  @include font.use();
}
