@use "sass:math";
@use "../animations/bump";
@use "../util/breakpoint";
@use "../util/color";
@use "../util/font";
@use "../util/text";

.block-pagetitle {
  @include font.use(font.$header-1);

  width: 100%;

  @include breakpoint.from(breakpoint.$large) {
    width: 75%;
  }

  h1 {
    @include text.select(color.$header, color.$header-select);
    @include text.stroke(2px, color.$white);

    margin-bottom: 1rem;
    margin-top: 0;

    & > span > span {
      white-space: normal;
      word-break: break-all;

      @include breakpoint.from(breakpoint.$xsmall) {
        white-space: nowrap;
      }
    }

    @include breakpoint.from(breakpoint.$large) {
      position: absolute;
      text-align: center;
      transform: translateY(calc(-100% + -5rem));
      z-index: 1;

      & > span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: min-content;
      }
    }
  }

  span:empty,
  span[empty] {
    white-space: break-spaces;
  }

  [data-letter] {
    $animation: .333s;

    @include bump.animation($animation);

    @include breakpoint.below(breakpoint.$medium) {
      display: inline;
    }

    @for $i from 1 through 255 {
      &[data-letter="#{$i}"] {
        animation-delay: $i * math.div($animation, 6);
      }
    }
  }
}
