@use "../abstracts/hidden";
@use "../abstracts/link";

.block-breadcrumb {
  display: inline-block;

  .breadcrumb__label {
    display: none;
  }

  .breadcrumb__list {
    @include hidden.ul;

    display: inline-block;
  }

  .breadcrumb__item {
    display: inline-block;
    transform: scale(1);
    transform-origin: center left;
    transition: transform 1s ease;

    &:hover {
      transform: scale(1.1);
    }

    a[href="/"] {
      display: none;
    }

    a:not([href="/"]) {
      @include link.a();

      margin-bottom: .5rem;

      &::before {
        content: '< ';
      }
    }
  }
}
