@use "../util/color";
@use "../util/breakpoint";

.block-sitebranding {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 0;
  margin-left: -1rem;
  position: absolute;

  @include breakpoint.from(breakpoint.$large) {
    margin-left: -2.1875rem;
  }

  & > a {
    display: contents;

    &::before {
      background-image: url('/themes/frontend/svg/stamp.svg');
      background-size: cover;
      clip-path: polygon(0% 5.75rem, 100% 5.75rem, 100% 100%, 0% 100%);
      content: '';
      filter: drop-shadow(0 2px 2px color.$gray--500);
      grid-column: 1 / 1 span;
      grid-row: 1 / 1 span;
      height: 9rem;
      pointer-events: none;
      position: relative;
      top: -5.75rem;
      width: 9rem;
      z-index: 0;

      @include breakpoint.from(breakpoint.$large) {
        clip-path: polygon(1rem 9.5rem, 100% 9.5rem, 100% 100%, 0 100%);
        height: 16rem;
        top: -9.5rem;
        width: 16rem;
      }
    }

    img {
      grid-column: 1 / 1 span;
      grid-row: 1 / 1 span;
      height: 4rem;
      margin: -2.4rem auto;
      position: relative;
      text-align: center;
      transform: translateX(-.375rem);
      width: 4rem;
      z-index: 1;

      @include breakpoint.from(breakpoint.$large) {
        height: 8rem;
        margin: -4.4rem auto;
        transform: translateX(-.6875rem);
        width: 8rem;
      }
    }
  }
}
