@use '../abstracts/hidden';
@use '../abstracts/link';
@use '../util/breakpoint';
@use '../util/color';
@use '../util/font';

.block-mainnavigation {
}

.block-mainnavigation__menu {
  @include hidden.ul();

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: end;
  margin: 0 .5rem 0 0;

  @include breakpoint.from(breakpoint.$large) {
    margin: .5rem;
  }
}

.block-mainnavigation__menu-item {
  @include font.use(font.$navigation);

  background-color: color.$white;
  display: block;
  position: relative;

  @include breakpoint.from(breakpoint.$medium) {
    display: inline-block;
  }

  a {
    @include link.a(color.$cta, color.$cta-dark);

    font-weight: 500;
    padding: .4375rem .5rem .4375rem .75rem;

    @include breakpoint.below(breakpoint.$large) {
      padding: .4375rem .5rem .6875rem .75rem;

      &[href="/"] {
        font-size: 0;
        padding: 0;
        width: 0;
      }
    }
  }
}

.block-mainnavigation__menu-item--active-trail {
  > a {
    color: color.$link;

    &:hover {
      color: color.$link-dark;
    }
  }
}
