@use '../abstracts/link';
@use '../util/color';
@use '../util/font';
@use '../util/text';

.node-branch-full {
  position: relative;
}

.node-branch-full__attendance-times {
  @include font.use(font.$intro);

  color: color.$gray--900;
  margin-bottom: .5rem;
}

.node-branch-full__ages {
  @include font.use(font.$header-3);

  color: color.$red;
}

.node-branch-full__ages-from,
.node-branch-full__ages-separator,
.node-branch-full__ages-till {
  display: inline-block;
}

.node-branch-full__image {
  max-width: 8rem;
  position: absolute;
  right: 0;
  top: -6.5rem;
  width: 25vw;
  z-index: 1;
}

.node-branch-full__contact {
  @include font.use();

  a {
    @include link.a();

    display: block;
  }

  .node-branch-full__contact-label {
    @include text.select(color.$header, color.$header-select);
    @include font.use(font.$header-2);

    margin-top: 2rem;
  }
}
