@use "../abstracts/link";
@use "../util/breakpoint";
@use "../util/font";

.node-branch-tag {
  @include font.use();

  width: 100%;

  @include breakpoint.from(breakpoint.$xlarge) {
    display: grid;
    grid-template-columns: .75fr 1fr 1.25fr 2fr;
  }
}

.node-branch-tag__title {
  font-size: 1rem;
  margin: 0;

  a {
    @include link.a();
  }
}

.node-branch-tag__content {
  display: contents;
}

.node-branch-tag__ages {
  display: inline-block;
}

.node-branch-tag__contact {
  display: inline-flex;
  gap: .25rem;
  line-height: 1.125;

  a {
    @include link.a();
  }
}

.node-branch-tag__links {
  display: none;
}
