@use "../abstracts/link";
@use '../util/breakpoint';
@use '../util/color';
@use '../util/font';

.node-branch-teaser {
  padding: 0 1rem 1rem 1rem;
  position: relative;
}

.node-branch-teaser__title {
  a {
    @include link.a();
    @include link.full-click();
    @include font.use(font.$header-4);
  }
}

.node-branch-teaser__image {
  margin: auto;
  max-width: 15rem;
}

.node-branch-teaser__ages {
  @include font.use(font.$header-5);

  color: color.$red;
  margin-top: .75rem;

  @include breakpoint.from(breakpoint.$medium) {
    margin: .75rem -1rem 0;
    text-align: center;
  }
}

.node-branch-teaser__ages-from,
.node-branch-teaser__ages-separator,
.node-branch-teaser__ages-till {
  display: inline-block;
}

.node-branch-teaser__ages-from,
.node-branch-teaser__ages-till {
  @include font.use(font.$header-4);
}

.node-branch-teaser__body {
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  flex-direction: column;
  letter-spacing: -1px;
  -webkit-line-clamp: 3; /* stylelint-disable-line property-no-vendor-prefix */
  margin-top: 1rem;
  overflow: hidden;
}
