@use "../util/breakpoint";
@use "../util/color";
@use "../util/select";

.page-image {
  background-color: color.$green;
  height: 8rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include breakpoint.from(breakpoint.$large) {
    height: 21.875rem;
    margin-bottom: 2rem;
  }

  &[data-header] {
    img {
      min-width: 100%;
    }
  }

  &:not([data-header]) {
    @include select.no() {
      background-image: url('/themes/frontend/images/header.png');
      background-size: cover;
    }

    img {
      $drop: drop-shadow(.0625rem .0625rem .0625rem color.$black);
      $hoverTransform: scale(1.5);

      @mixin hover($transform: false) {
        &:hover {
          @if ($transform) {
            transform: $hoverTransform $transform;
          } @else {
            transform: $hoverTransform;
          }
        }
      }

      filter: $drop;
      margin: -.5rem -2.3rem;
      position: relative;
      transition: transform 10s;
      user-select: none;
      width: 6rem;

      @include breakpoint.from(breakpoint.$medium) {
        margin: -1rem -4.5rem;
        width: 12rem;
      }

      &:nth-child(2n) {
        $transform: translateY(4rem) rotate(-45deg);

        @include hover($transform);

        filter: $drop;
        transform: $transform;
        z-index: 0;
      }

      &:nth-child(2n+1) {
        @include hover();

        z-index: 1;
      }

      &:first-child,
      &:nth-child(3n+1) {
        $transform: translateY(-3rem);

        @include hover($transform);

        filter: hue-rotate(-50deg) $drop;
        transform: $transform;
      }

      &:nth-child(4n) {
        $transform: translateY(9rem) rotate(-45deg);

        @include hover($transform);

        filter: hue-rotate(20deg) $drop;
        transform: $transform;
      }

      &:nth-child(5n) {
        @include hover();

        filter: hue-rotate(-20deg) $drop;
      }

      &:nth-child(7n) {
        @include hover();

        filter: grayscale(.5) $drop;
      }

      &:nth-child(9n),
      &:nth-child(9n-6) {
        @include hover();

        filter: brightness(.5) $drop;
      }
    }
  }
}
