@use '../abstracts/layout';
@use '../abstracts/hidden';
@use '../animations/image-slide';
@use '../util/breakpoint';
@use '../util/color';

.page-footer {
  width: 100%;

  &::before {
    @include image-slide.animation();

    background-color: color.$menu;
    content: "";
    display: block;
    height: 6.5rem;
    -webkit-mask-image: url('/themes/frontend/svg/grass.svg'); /* stylelint-disable-line property-no-vendor-prefix */
    mask-image: url('/themes/frontend/svg/grass.svg');
    -webkit-mask-repeat: repeat-x; /* stylelint-disable-line property-no-vendor-prefix */
    mask-repeat: repeat-x;
    -webkit-mask-size: contain; /* stylelint-disable-line property-no-vendor-prefix */
    mask-size: contain;
    transform: translateY(.125rem);
    width: 100%;
  }
}

.page-footer__footer {
  background-color: color.$menu;
  border-bottom: 1rem solid color.$menu;
  display: grid;
  grid-template-columns: 1fr min(100%, 90em) 1fr;
  width: 100%;

  &::before {
    content: "";
    display: block;
    inset: 0;
  }

  > :first-child {
    @include layout.grid-horizontal(2, 1);
    @include layout.grid-vertical(1, 1);

    padding: 2rem 2rem 1rem;

    @include breakpoint.from(breakpoint.$medium) {
      padding: 2rem 0 0;
    }
  }
}
