@use '../util/breakpoint';
@use '../abstracts/layout';

.page-body {
  @include layout.outer-grid();

  padding: 1rem;
  width: calc(100% - 2rem);
}

.page-body__content-top {
  @include layout.inner-grid(1);
}

.page-body__content {
  @include layout.inner-grid(2);
}
