@use '../abstracts/layout';
@use '../abstracts/hidden';
@use '../util/breakpoint';
@use '../util/color';

.page-header {
  @include layout.outer-grid();

  align-items: center;
  background-color: color.$white;
  box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
  padding: .5rem 0 .5rem .5rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @include breakpoint.from(breakpoint.$large) {
    padding: 1rem;
    width: calc(100% - 2rem);
  }
}

.page-header__topbar {
  @include layout.grid-horizontal(1, 2);
  @include layout.grid-vertical(1, 1);
}

.page-header__navbar {
  @include layout.grid-horizontal(3, 10);
  @include layout.grid-vertical(1, 1);

  justify-self: end;
}
