@use "../util/breakpoint";

.paragraph-twofold-lane {
}

.paragraph-twofold-lane__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint.from(breakpoint.$medium) {
    flex-direction: row;
    gap: 2rem;
  }
}
