@use "../abstracts/hidden";
@use "../util/color";
@use "../util/font";

.tabs {
  @include hidden.ul();

  border-bottom: .3125rem solid color.$menu;
  display: flex;
  gap: .125rem;
  padding: 0 .125rem;
}

.tabs__item {
  padding: .3125rem;

  & > * {
    @include hidden.a();
    @include font.use(font.$navigation);

    background-color: color.$white;
    border: .3125rem solid color.$menu;
    border-bottom: unset;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    color: color.$menu;
    padding: .5rem 1rem;
  }
}
