@use "../util/breakpoint";
@use "../util/color";

.view-branches-branches {
}

.view-branches-branches__row {
  background-color: color.$gray--50;
  border-bottom: 1px solid color.$gray--100;
  border-right: 1px solid color.$gray--100;
  filter: drop-shadow(1px 1px 0 color.$gray--100);
  transition: filter 1s ease;

  &:hover {
    filter: drop-shadow(4px 4px 0 color.$gray--200);
  }
}

.view-branches-branches__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include breakpoint.from(breakpoint.$small) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint.from(breakpoint.$medium) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include breakpoint.from(breakpoint.$large) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
