@use "../abstracts/link";
@use "../util/color";
@use "../util/font";
@use "../util/text";

.view-branches-taglist {
}

.view-branches-taglist__header {
  @include font.use(font.$header-2);
  @include text.select(color.$header, color.$header-select);

  margin-bottom: .5rem;
  margin-top: 2rem;

  a {
    @include link.inherit();
  }
}

.view-branches-taglist__row {
  display: flex;
  margin-bottom: .5rem;
  padding-left: .5rem;

  &::before {
    aspect-ratio: 1 / 1;
    background-color: color.$cta;
    border-radius: 1rem;
    content: '';
    display: inline-block;
    height: 7px;
    margin: .6em 1.5rem 0 0;
  }

  $colors: (
    1: color.$green,
    2: color.$red,
    3: color.$blue,
    4: color.$orange,
    5: color.$purple,
  );

  @each $key, $value in $colors {
    &:nth-child(5n + #{$key})::before {
      background-color: $value;
    }
  }
}
