@use "../abstracts/hidden";
@use "../abstracts/link";
@use "../util/color";
@use "../util/font";
@use "../util/text";

@mixin component() {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  .form-item {
    padding: .875rem 0 0 0;
    position: relative;
  }

  .fieldgroup {
    border-color: color.$header;
    border-radius: .5rem;
    border-style: solid;
    max-width: 32.5rem;
    padding: .125rem;

    legend {
      display: contents;
    }
  }

  .fieldset-legend {
    @include font.use(font.$intro);

    color: color.$header;
    background-color: white;
    display: inline-block;
    left: 1rem;
    padding: .125rem;
    position: absolute;
    top: -1rem;
  }

  .form-item__label {
    @include font.use(font.$intro);

    color: color.$header;
    background-color: white;
    display: inline-block;
    left: 1rem;
    padding: .125rem;
    position: absolute;
    top: 0;
  }

  .form-type-select > .form-item__label,
  [type="checkbox"] + .form-item__label {
    position: relative;
  }

  .form-type-checkbox {
    display: flex;
    flex-direction: row;
  }

  .form-type-datetime,
  .form-type-select {
    .form-item__label {
      left: 0rem;
    }
  }

  .form-autocomplete, .form-text, .form-tel, .form-email, .form-url, .form-search,
  .form-number, .form-color, .form-file, .form-date, .form-time, .form-textarea, .form-select {
    border-color: color.$header;
    border-radius: .5rem;
    border-style: solid;
    border-width: 2px;
    max-width: calc(100% - 1.5rem);
    padding: .75rem .25rem .75rem 1rem;
  }

  .form-select, .form-date {
    background-color: white;
    display: block;
  }

  .form-item__description {
    @include font.use();

    color: color.$breadcrumb;
    margin-left: 1rem;
  }

  p {
    @include font.use();
  }

  button {
    @include hidden.button();
    @include link.button(color.$white, color.$white, color.$header, color.$cta-dark);
  }

  hr {
    border: none;
    border-bottom: .25rem dotted color.$link;
    height: 0;
    pointer-events: none;
  }
}
