@mixin hide($focusable: false) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;

  @if ($focusable) {
    @include fragment--focusable();
  }
}

@mixin fragment--focusable() {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
    width: auto;
  }
}

@mixin a() {
  text-decoration: none;
}

@mixin button() {
  border: unset;
}

@mixin ul() {
  @include spacing();

  list-style: none;
}

@mixin spacing() {
  margin: 0;
  padding: 0;
}
