@use "../abstracts/link";
@use "../util/breakpoint";
@use "../util/color";
@use "../util/font";
@use "../util/text";

@mixin component() {
  @include font.use();

  p:not([class]) {
    @include font.use();

    margin: .5rem 0;
  }

  p.par-intro {
    @include font.use(font.$intro);
  }

  a[href]:not(.button) {
    @include link.a();
  }

  a:not([href]):not(.button) {
    @include link.a();
  }

  a.button {
    @include link.button(color.$white, color.$white, color.$link, color.$link-dark);

    margin: 0 .25rem;
    padding: 1rem 1rem;
  }

  table {
    margin: .5rem;
    padding-bottom: 1rem;
    position: relative;

    caption {
      bottom: 0;
      color: color.$gray--500;
      font-style: italic;
      position: absolute;
      width: 100%;
    }

    td,
    th {
      padding: .5rem;
    }
  }

  hr {
    border: none;
    border-bottom: .25rem dotted color.$link;
    height: 0;
    pointer-events: none;
  }

  ol,
  ul {
    padding-left: 1.5rem;

    li {
      padding: .25rem 0 .25rem .75rem;

      &::marker {
        color: color.$cta;
      }

      $colors: (
        1: color.$green,
        2: color.$red,
        3: color.$blue,
        4: color.$orange,
        5: color.$purple,
      );

      @each $key, $value in $colors {
        &:nth-child(5n + #{$key})::marker {
          color: $value;
        }
      }
    }
  }

  blockquote {
    &::before,
    &::after {
      @include font.use(font.$blockquote);

      color: color.$cta;
      content: '"';
      font-size: 5rem;
      left: -2.1875rem;
      position: absolute;
      top: -1rem;
      transform: rotate(-5deg);

      @include breakpoint.from(breakpoint.$large) {
        top: -50%;
      }
    }

    &::after {
      color: color.$cta-dark;
      left: 100%;
      top: calc(100% - 2rem);
      transform: rotate(5deg);
    }
  }

  blockquote,
  blockquote > p,
  blockquote > p:not([class]) {
    @include font.use(font.$blockquote);

    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  h1 {
    @include font.use(font.$header-1);
    @include text.select(color.$header, color.$header-select);

    margin-bottom: 2.5rem;
  }

  h2 {
    @include font.use(font.$header-2);
    @include text.select(color.$header, color.$header-select);

    margin-bottom: .5rem;
    margin-top: 2rem;
  }

  h3 {
    @include font.use(font.$header-3);
    @include text.select(color.$button, color.$header-select);

    margin-bottom: .5rem;
    margin-top: 2rem;
  }

  h4 {
    @include font.use(font.$header-4);
    @include text.select(color.$button, color.$header-select);

    color: color.$button;
    margin-bottom: .5rem;
    margin-top: 2rem;
  }

  h5 {
    @include font.use(font.$header-5);
    @include text.select(color.$button, color.$header-select);

    color: color.$button;
    margin-bottom: .5rem;
    margin-top: 2rem;
  }

  h6 {
    @include font.use(font.$header-6);
    @include text.select(color.$button, color.$header-select);

    color: color.$button;
    margin-bottom: .5rem;
    margin-top: 2rem;
  }
}
