@use "../util/breakpoint";

@mixin outer-grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  max-width: breakpoint.get(breakpoint.$xxlarge);
  position: relative;
  width: 100%;
}

@mixin inner-grid($row: 1, $mobile-row: $row) {
  @include grid-horizontal(1, 12);
  @include grid-vertical($row, 1);

  @include breakpoint.from(breakpoint.$medium) {
    @include grid-horizontal(2, 10);
    @include grid-vertical($mobile-row, 1);
  }
}

@mixin grid-horizontal($start, $width) {
  grid-column: #{$start} / ($start + $width);
}

@mixin grid-vertical($start, $width) {
  grid-row: #{$start} / ($start + $width);
}
