@use "../abstracts/hidden";
@use "../util/color";
@use "../util/font";

@mixin a($color: color.$link, $hover-color: color.$link-dark) {
  @include hidden.a();
  @include font.use(font.$link);

  color: $color;
  display: inline-block;
  text-underline-position: from-font;

  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }
}

@mixin button($color-text: color.$white, $hover-text-color: color.$white,
$color-background: color.$link, $hover-background-color: color.$link-dark) {
  @include hidden.a();
  @include font.use(font.$link);

  background-color: $color-background;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  padding: .75rem;
  text-underline-position: from-font;

  &:hover {
    background-color: $hover-background-color;
    color: $hover-text-color;
  }
}

@mixin full-click($element: before) {
  &::#{$element} {
    content: '';
    inset: 0;
    position: absolute;
  }
}

@mixin inherit($hover-color: color.$link-dark) {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $hover-color;
  }
}
