@use '../util/color';

@mixin tag($content: null) {
  background-color: color.$orange;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
  display: inline-block;
  padding: .5rem 1rem .5rem .5rem;

  & > a {
    color: color.$white;

    &::before {
      content: '#{$content}';
      white-space: pre;
    }
  }
}
